.card{
   background-image: url(img/61aef65f10f9d1638856287772.jpg);
   background-size: cover;
   padding: 20px;
   margin: 20px 10px;
   border-radius: 15px;
   margin-left: auto;
}

.card1{
   background-image: url(img/61aef65f10f9d1638856287772.jpg);
   background-size: cover;
   padding: 20px;
   margin: 20px 10px;
   border-radius: 15px;
   margin-left: auto;
}
main{
   padding: 20px;
}

article{  
   float: left;
}

.mugshot{
   background-image: url(img/61aef65f10f9d1638856287772.jpg);

}

h2,h1{
   
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   text-align: center;
}


.fix-typesetting{
   display: flex;
   justify-content: space-around;
   margin: 20px;
}

.fix{
   width: 100px;
   height: 100px;
   background-color: white;
   border-radius: 50%; 
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}

.fix p{
   margin: 0;
}

a{

   text-align: center;
   display: flex;
   justify-content: center;
}
